<div class="login-blur-bg"></div>
<table>
<tr>
  <td> Login</td> <td>
  <a routerLink="/">
     Cancel
  </a>
  </td>
</tr>
<tr>
  <td> Email </td>
  <td>
    <input type="email" [(ngModel)]="email" placeholder="user@ejemplo.com">
    {{email}}
  </td>
</tr>
<tr>
  <td> Password </td>
  <td>
    <input type="password" [(ngModel)]="password" placeholder="password">
    {{password}}
  </td>
</tr>
<tr>
 <td></td> <td>
  <a routerLink="/forgot-password">
     Forgot Password ?
  </a>
</td>
</tr>
<tr>
<td> </td> <td>
         <button (click)="callLogin()"> log in </button>
         {{ myLogin.username }}
 </td>
</tr>
<tr>
 <td></td> <td> New?
  <a routerLink="/newuser">
    Create account
  </a>
 </td>
</tr>
</table>
