
<p>Welcome {{ username }}</p>

<div class="container color-ligth">
  <div class="col">
    <form>
      <input
        type="text"
        class="txt"
        name="item"
        placeholder="your tweet here..."
        [(ngModel)]="tweetText"
      />
      <input
        type="submit"
        class="btn"
        value="tweet"
        (click)="addTweet()"
      />
    </form>
  </div>

  <div class="col">
    <div *ngFor="let tweet of tweets" class="tweet">
      <div class="tweet-content">
        {{ tweet.id }} - {{ tweet.tweet }}
      </div>
      <div *ngIf="tweetDetails[tweet.id.toString()]" class="tweet-extra">
        <div class="comments">
          <div *ngFor="let c of tweetDetails[tweet.id.toString()].comments" class="comment">
            {{ c.username }}: {{ c.content }}
          </div>
          <div class="add-comment">
            <input type="text" [(ngModel)]="newComments[tweet.id.valueOf()]" placeholder="Add comment" />
            <button (click)="addComment(tweet.id.valueOf())">Comment</button>
          </div>
        </div>
        <div class="reactions">
          <span *ngFor="let r of reactionTypes" (click)="addReaction(tweet.id.valueOf(), r.id)" style="cursor:pointer;">
            {{ r.icon }} {{ countReactions(tweetDetails[tweet.id.toString()].reactions, r.id) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
